<?xml version="1.0" encoding="utf-8"?>
<manifest package="sagex.miniclient.android.tv"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>

    <uses-feature
        android:name="com.google.android.tv"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:banner="@drawable/sagetv_orig"
        >

        <meta-data android:name="android.max_aspect" android:value="2.1" />

        <activity
            android:name="sagex.miniclient.android.phone.ServersActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.PhoneTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:banner="@drawable/sagetv_orig"
            android:icon="@drawable/sagetv_orig"
            android:label="@string/app_name"
            android:logo="@drawable/sagetv_orig"
            tools:replace="android:theme"
            android:theme="@style/Theme.Leanback.SageTV"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
