<configuration>
    <property name="LOG_DIR" value="/sdcard/" />

    <!-- Create a logcat appender -->
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>[%thread] %-5level - %msg</pattern>
        </encoder>
    </appender>

    <!-- Create a file appender for TRACE-level messages -->
    <appender name="MiniclientLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
        <!--<level>TRACE</level>-->
        <!--<onMatch>ACCEPT</onMatch>-->
        <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
        <lazy>true</lazy>

        <file>${LOG_DIR}/sagetv-miniclient.txt</file>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover period -->
            <fileNamePattern>${LOG_DIR}/sagetv-miniclient.%d.txt</fileNamePattern>

            <!-- keep 7 days' worth of history -->
            <maxHistory>2</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Write TRACE messages from class A to its own log -->
    <!--<logger name="com.example.A" level="TRACE">-->
    <!--<appender-ref ref="TraceLog" />-->
    <!--</logger>-->

    <!-- Write DEBUG messages from class B to its own log -->
    <!--<logger name="com.example.B" level="DEBUG">-->
    <!--<appender-ref ref="DebugLog" />-->
    <!--</logger>-->

    <!-- Write INFO (and higher-level) messages to logcat -->
    <root level="DEBUG">
        <appender-ref ref="logcat" />
    </root>
</configuration>